.calendar-body{
    background: linear-gradient(to right, var(--color-almost-white), var(--color-almost-white) 25%, transparent 25%, transparent 100%);
}

.calendar-body .calendar-grid-item{
    width: calc(12vw - 2px);
    display: inline-block;
    >.calendar-grid-item-number {
        text-align: right;
        margin-right: 5px;
    }
    >.entry {
        height: 1em;
    }
}

.calendar-body .calendar-block{
    height: 10vh;
    vertical-align: top;
}

.calendar-body .calendar-block.today{
    color: red;
}

.calendar-wrapper {
    width: 84vw;
    position: relative;
    text-align: center;
    margin: 0 8vw;
    >.calendar-header {
        >.current-month {
            font-size: xxx-large;
            margin-bottom: 50px;
        }
        >.calendar-navigation {
            position: absolute;
            width: 84vw;
            >button {
                border: none;
                background-color: transparent;
                font-size: xxx-large;
                cursor: pointer;
            }
            >.button-previous {
                float: left;
            }
            >.button-next {
                float: right;
            }
        }

        >.day-legend {
            position: relative;
            background-color: var(--color-almost-white);
            >.calendar-legend{
                width: calc(12vw - 2px);
                display: inline-block;
                font-size: x-large;
            }
            >.days-underline {
                height: 4px;
                width: 100vw;
                position: absolute;
                bottom: -4px;
                left: -8vw;
            }
        }
    }
}

.triangle-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 62vw solid transparent;
    border-bottom: 75vh solid black;
}

@media (max-width: 599px) {
    .calendar-body{
        background: linear-gradient(to bottom right, var(--color-almost-white), var(--color-almost-white) 70%, transparent 70%, transparent 100%);
    }
    .calendar-wrapper {
        >.calendar-header {
            margin-top: 10px;
            >.current-month {
                font-size: x-large;
                margin-bottom: 10px;
            }
            >.calendar-navigation {
                >button {
                    font-size: x-large;
                }
            }
            >.day-legend {
                >.calendar-legend{
                    font-size: medium;
                }
            }
        }
    }

    .calendar-body .calendar-block{
        .location {
            display: none;
        }
    }

    .triangle-bottomright {
        border-left-width: 80vw;
        border-bottom-width: 50vh;
    }
}