.calendar-body{

}

.calendar-body .calendar-grid-item{
    width: 13vw;
    display: inline-block;
    border: transparent 1px solid;
}

.calendar-body .calendar-block{
    border: 1px solid black;
    height: 9vw;
}

.calendar-body .calendar-block.today{
    color: red;
}

.calendar-header .calendar-legend{
    width: 13vw;
    display: inline-block;
    border: 1px solid black;
}