:root{
    --color-almost-black : rgb(50, 50, 50);
    --color-almost-white : rgb(246, 246, 246);
    --color-pink : rgb(235, 222, 215);
    --color-yellow : rgb(237, 236, 192);
    --color-green :	rgb(142, 189, 180);
    --color-purple : rgb(196, 200, 244);
    --color-grey : rgb(220, 220, 220);
    --color-blue : rgb(190, 224, 248);
    --color-manatee : rgb(159, 158, 186);
    --color-tumbleweed : rgb(230, 167, 138);
    --color-sage : rgb(197, 209, 159);
    --color-cadet-grey : rgb(150, 167, 179);
    --color-wild-blue-yonder : rgb(149, 166, 204);
    --color-peter-blue : rgb(126, 157, 171);
}